<config>
	<browserMode>REMOTE</browserMode>
	<browserName>FIREFOX</browserName>
	<seleniumRcURL>http://10.217.xx.xx:4444/wd/hub</seleniumRcURL>
	<maxTimeOutPerPageInSec>30</maxTimeOutPerPageInSec>
	<reportBaseDir>/var/tmp/selenium/reports/</reportBaseDir>
	<errorConditions>
		<errorCondition elementExtractor="BY_CLASSNAME" contentEvaluator="CONTAINS">
			<element>error-msg-container</element>
			<elementContent>error-msg-content</elementContent>
		</errorCondition>
	</errorConditions>
</config>