<html>
	<head>
		<title>${plan.planName} test report</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
		<style>
			body{
				padding: 0;
				margin: 0;
			}
			.canvas-holder{
				width:20%;
			}
		</style>
	</head>
	<body>
		<h2>
			${plan.planName} test report:
						
			<#if plan.planReport.testResult == "SUCCESS">
				<span style="color:green;">${plan.planReport.testResult}</span>
			<#elseif plan.planReport.testResult == "ERROR">
				<span style="color:red;">${plan.planReport.testResult}</span>
			<#elseif plan.planReport.testResult == "TIMEOUT">
				<span style="color:yellow;">${plan.planReport.testResult}</span>
			</#if>
		</h2>
		
		<div class="canvas-holder">
			<canvas id="chart-area" width="500" height="500"/>
		</div>
		
		<br/>
		<table border="1px solid #000" style="padding:5px;">
			<tr>
				<th style="font-weight: bold;">RUN NAME</th>
				<th style="font-weight: bold;">RESULT</th>
				<#if webTimings>
				<th style="font-weight: bold;">PAGE LOAD TIME BREAKDOWN</th>
				</#if>
				<th>SCREENSHOT</th>
			</tr>
			<#list plan.runs as run>
				<tr>
					<td>${run.runName}</td>
					<#if run.runReport.testResult??>
						<#if run.runReport.testResult == "SUCCESS">
						<td style="background-color:green">${run.runReport.testResult}</td>
						<#elseif run.runReport.testResult == "ERROR">
						<td style="background-color:red">${run.runReport.testResult}</td>
						<#elseif run.runReport.testResult == "TIMEOUT">
						<td style="background-color:yellow">${run.runReport.testResult}</td>
						</#if>
					<#else>
					<td><p style="color:gray;">UNTESTED</p></td>
					</#if>
					<#if webTimings>
					<td>
						<table>
							<tr>
								<td>
									<ul>
										<li>Total requests: ${run.runReport.webTimings.totalRequests}</li>
										<li>Network latency: ${(run.runReport.webTimings.responseEnd - run.runReport.webTimings.fetchStart)?c} msec</li>
									</ul>
									<p>NETWORK KPIs</p>
									<ul>
										<li>navigationStart: 0 msec</li>
										<li>redirect: ${(run.runReport.webTimings.redirectStart - run.runReport.webTimings.navigationStart)?c}-${(run.runReport.webTimings.redirectEnd - run.runReport.webTimings.navigationStart)?c} msec</li>
										<li>fetchStart: ${(run.runReport.webTimings.fetchStart - run.runReport.webTimings.navigationStart)?c} msec</li>
										<li>domainLookup: ${(run.runReport.webTimings.domainLookupStart - run.runReport.webTimings.navigationStart)?c}-${(run.runReport.webTimings.domainLookupEnd - run.runReport.webTimings.navigationStart)?c} msec</li>
										<li>connect: ${(run.runReport.webTimings.connectStart - run.runReport.webTimings.navigationStart)?c}-${(run.runReport.webTimings.connectEnd - run.runReport.webTimings.navigationStart)?c} msec</li>
									</ul>
									<p>SERVER KPIs</p>
									<ul>
										<li>requestStart: ${(run.runReport.webTimings.requestStart - run.runReport.webTimings.navigationStart)?c} msec</li>
										<li>response: ${(run.runReport.webTimings.responseStart - run.runReport.webTimings.navigationStart)?c}-${(run.runReport.webTimings.responseEnd - run.runReport.webTimings.navigationStart)?c} msec</li>
									</ul>
									<p>BROWSER KPIs</p>
									<ul>
										<li>unloadEvent: ${(run.runReport.webTimings.unloadEventStart - run.runReport.webTimings.navigationStart)?c}-${(run.runReport.webTimings.unloadEventEnd - run.runReport.webTimings.navigationStart)?c} msec</li>
										<li>domLoading: ${(run.runReport.webTimings.domLoading - run.runReport.webTimings.navigationStart)?c} msec</li>
										<li>domInteractive: ${(run.runReport.webTimings.domInteractive - run.runReport.webTimings.navigationStart)?c} msec</li>
										<li>domContentLoadedEvent: ${(run.runReport.webTimings.domContentLoadedEventStart - run.runReport.webTimings.navigationStart)?c}-${(run.runReport.webTimings.domContentLoadedEventEnd - run.runReport.webTimings.navigationStart)?c} msec</li>
										<li>domComplete: ${(run.runReport.webTimings.domComplete - run.runReport.webTimings.navigationStart)?c} msec</li>
										<li>loadEvent: ${(run.runReport.webTimings.loadEventStart - run.runReport.webTimings.navigationStart)?c}-${(run.runReport.webTimings.loadEventEnd - run.runReport.webTimings.navigationStart)?c} msec</li>
									</ul>
								</td>
								<td>
									<div class="canvas-holder">
										<canvas id="chart-area-${run?counter}" width="2500" height="2500"/>
									</div>
								</td>
							</tr>
						</table>
						<#if run.runReport.harFilePath??>
							<p><a href="${run.runReport.harFilePath}" download>Download HAR file</a></p>
						</#if>
					</td>
					</#if>
					<td>
						<#if run.runReport.testResult??>
						<a href="screenshots/${run.runName}_${run.runReport.testResult}.png" target="_blank" style="border:0px;">
							<img src="screenshots/${run.runName}_${run.runReport.testResult}.png" width="150px"/>
						</a>
						<#else>
						-
						</#if>
					</td>
				</tr>
			</#list>
		</table>
		
		<!--S charts -->
		<script>
			var doughnutData = [
				{
					value: ${plan.successRun},
					color:"#009933",
					highlight: "#00E64D",
					label: "SUCCESS"
				},
				{
					value: ${plan.errorRun},
					color: "#CC2900",
					highlight: "#FF3300",
					label: "FAILED"
				},
				{
					value: ${plan.untestedRun},
					color: "#949FB1",
					highlight: "#A8B3C5",
					label: "UNTESTED"
				},
				{
					value: ${plan.totalRun} - ${plan.successRun} - ${plan.errorRun} - ${plan.untestedRun},
					color: "#FFFF00",
					highlight: "#E5E600",
					label: "TIMEOUT"
				}
			];
			
			<#if webTimings>
				<#list plan.runs as run>
					<!--S perf charts -->
					var radarChartData_${run?counter} = {
						labels: ["Redirect", "DomainLookup", "Connect", "Response", "UnloadEvent", "DomContentLoadedEvent", "LoadEvent"],
						datasets: [
							{
								label: "-",
								fillColor: "rgba(215, 40, 40, 0.9)",
								strokeColor: "rgba(215, 40, 40, 0.9)",
								pointColor: "rgba(215, 40, 40, 0.9)",
								pointStrokeColor: "#fff",
								pointHighlightFill: "#fff",
								pointHighlightStroke: "rgba(215, 40, 40, 0.9)",
								data: [
									${(run.runReport.webTimings.redirectEnd - run.runReport.webTimings.redirectStart)?c},
									${(run.runReport.webTimings.domainLookupEnd - run.runReport.webTimings.domainLookupStart)?c},
									${(run.runReport.webTimings.connectEnd - run.runReport.webTimings.connectStart)?c},
									${(run.runReport.webTimings.responseEnd - run.runReport.webTimings.requestStart)?c},
									${(run.runReport.webTimings.unloadEventEnd - run.runReport.webTimings.unloadEventStart)?c},
									${(run.runReport.webTimings.domContentLoadedEventEnd - run.runReport.webTimings.domContentLoadedEventStart)?c},
									${(run.runReport.webTimings.loadEventEnd - run.runReport.webTimings.loadEventStart)?c}
								]
							}
						]
					};
					<!--E perf charts -->
				</#list>
			</#if>
			
			window.onload = function(){
				var ctx = document.getElementById("chart-area").getContext("2d");
				window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {responsive : true});
				
				<#if webTimings>
					<#list plan.runs as run>
						window.myRadar = new Chart(document.getElementById("chart-area-${run?counter}").getContext("2d")).Radar(radarChartData_${run?counter}, {
							responsive: true
						});
					</#list>
				</#if>
			};
		</script>
		<!--E charts -->
		
	</body>
</html>