<html>
	<head>
		<title>${plan.planName} test report</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
		<style>
			body{
				padding: 0;
				margin: 0;
			}
			.canvas-holder{
				width:20%;
			}
		</style>
	</head>
	<body>
		<h2>
			${plan.planName} test report:
						
			<#if plan.planReport.testResult == "SUCCESS">
				<span style="color:green;">${plan.planReport.testResult}</span>
			<#elseif plan.planReport.testResult == "ERROR">
				<span style="color:red;">${plan.planReport.testResult}</span>
			<#elseif plan.planReport.testResult == "TIMEOUT">
				<span style="color:yellow;">${plan.planReport.testResult}</span>
			</#if>
		</h2>
		
		<div class="canvas-holder">
			<canvas id="chart-area" width="500" height="500"/>
		</div>
		
		<br/>
		<table border="1px solid #000" style="padding:5px;">
			<tr>
				<th style="font-weight: bold;">RUN NAME</th>
				<th style="font-weight: bold;">RESULT</th>
				<#if webTimings>
				<th style="font-weight: bold;">WEB TIMINGS</th>
				</#if>
				<th>SCREENSHOT</th>
			</tr>
			<#list plan.runs as run>
				<tr>
					<td>${run.runName}</td>
					<#if run.runReport.testResult??>
						<#if run.runReport.testResult == "SUCCESS">
						<td style="background-color:green">${run.runReport.testResult}</td>
						<#elseif run.runReport.testResult == "ERROR">
						<td style="background-color:red">${run.runReport.testResult}</td>
						<#elseif run.runReport.testResult == "TIMEOUT">
						<td style="background-color:yellow">${run.runReport.testResult}</td>
						</#if>
					<#else>
					<td><p style="color:gray;">UNTESTED</p></td>
					</#if>
					<#if webTimings>
					<td>
						<table>
							<tr>
								<td>
									<ul>
										<li>Total requests: ${run.runReport.webTimings.totalRequests}</li>
										<li>Total time: ${(run.runReport.webTimings.domContentLoadEventEnd - run.runReport.webTimings.requestStart)?c} msec</li>
										<li>Upload time: <b style="color:#CC2900;">${(run.runReport.webTimings.responseStart - run.runReport.webTimings.requestStart)?c} msec</b></li>
										<li>Download time: <b style="color:#009933;">${(run.runReport.webTimings.responseEnd - run.runReport.webTimings.responseStart)?c} msec</b></li>
										<li>Browser processing time: <b style="color:#0066FF;">${(run.runReport.webTimings.domContentLoadEventEnd - run.runReport.webTimings.responseEnd)?c} msec</b></li>
									</ul>
								</td>
								<td>
									<div class="canvas-holder">
										<canvas id="chart-area-${run?counter}" width="1200" height="1200"/>
									</div>
								</td>
							</tr>
						</table>
					</td>
					</#if>
					<td>
						<#if run.runReport.testResult??>
						<a href="screenshots/${run.runName}_${run.runReport.testResult}.png" target="_blank" style="border:0px;">
							<img src="screenshots/${run.runName}_${run.runReport.testResult}.png" width="150px"/>
						</a>
						<#else>
						-
						</#if>
					</td>
				</tr>
			</#list>
		</table>
		
		<!--S charts -->
		<script>
			var doughnutData = [
				{
					value: ${plan.successRun},
					color:"#009933",
					highlight: "#00E64D",
					label: "SUCCESS"
				},
				{
					value: ${plan.errorRun},
					color: "#CC2900",
					highlight: "#FF3300",
					label: "FAILED"
				},
				{
					value: ${plan.untestedRun},
					color: "#949FB1",
					highlight: "#A8B3C5",
					label: "UNTESTED"
				},
				{
					value: ${plan.totalRun} - ${plan.successRun} - ${plan.errorRun} - ${plan.untestedRun},
					color: "#FFFF00",
					highlight: "#E5E600",
					label: "TIMEOUT"
				}
			];
			
			<#if webTimings>
				<#list plan.runs as run>
					<!--S perf charts -->
					var doughnutData_${run?counter} = [
						{
							value: ${(run.runReport.webTimings.responseStart - run.runReport.webTimings.requestStart)?c},
							color: "#CC2900",
							highlight: "#FF3300",
							label: "upload time"
						},
						{
							value: ${(run.runReport.webTimings.responseEnd - run.runReport.webTimings.responseStart)?c},
							color:"#009933",
							highlight: "#00E64D",
							label: "download time"
						},
						{
							value: ${(run.runReport.webTimings.domContentLoadEventEnd - run.runReport.webTimings.responseEnd)?c},
							color: "#0066FF",
							highlight: "#66CCFF",
							label: "browser processing time"
						}
					];
					<!--E perf charts -->
				</#list>
			</#if>
			
			window.onload = function(){
				var ctx = document.getElementById("chart-area").getContext("2d");
				window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {responsive : true});
				
				<#if webTimings>
					<#list plan.runs as run>
						var ctx_${run?counter} = document.getElementById("chart-area-${run?counter}").getContext("2d");
						window.myDoughnut_${run?counter} = new Chart(ctx_${run?counter}).Doughnut(doughnutData_${run?counter}, {responsive : true});
					</#list>
				</#if>
			};
		</script>
		<!--E charts -->
		
	</body>
</html>